.submitDesignPassive{
    background-color:gainsboro;
    height: 2em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 1em;
    margin-bottom: 1em;

    border-radius: 0.2em;
}

.submitDesignActive{
    transition: 0.3s;
    background-color: cadetblue;
    cursor: pointer;
}
.submitDesignActive:hover{
    transition: 0.3s;
    background-color: blue;
    cursor: pointer;
}

.textFormat{
    color: beige;
}

.submitKeepDesing{
    background-color:lightgreen;
    transition: 0.3s;
}
.submitKeepDesing:hover{
    transition: 0.3s;
    background-color:green;
    cursor: pointer;
}
.submitDeleteDesing{
    background-color: lightcoral;
    transition: 0.3s;
}
.submitDeleteDesing:hover{
    transition: 0.3s;
    background-color: red;
    cursor: pointer;
}