.headerDesign{
    height: 10vh;

    display: flex;
}
.textForm{
    color: white;
}
.headerRouting{
    display: flex;
    align-items: center;
}
.alignLeft{
    align-items: normal;
}
.alignRight{
    align-items: end;
}

.dropDownDesign{
    width: 3em;
    color: white;

    margin-right: 7em;
    border: 0em;
}