.footerDesign{
    background-color: black;
    min-height: 20vh;
    color: white;
    padding-top: 1em;

    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.footerInfo{
    display: flex;
    flex-direction: column;
}

.footerLogo{
    width: 2em;
    height: 2em;

    margin: 0.5em;
}